/*layout*/
#layout{padding-left:260px;background:url(../images/leftbg.png) 0 0 repeat-y;min-height:100%;}
.left-box{width:260px;margin-left:-260px;}

/*logo start*/
#logo{width:260px;height:110px;text-align:center;}
#logo a{color:#fff;font-size:300%;line-height:110px;}
#logo a:hover{text-shadow:1px 1px 1px rgba(0,0,0,0.8);}


/*header start*/
#header{height:110px;overflow:hidden;}

	#header .menu {height:100%;}
	#header .menu li:first-child{border-left:1px solid rgba(255,255,255,0.15);}
	#header .menu li{width:110px;height:110px;border-right:1px solid rgba(255,255,255,0.15);}
	#header .menu li.odd{background:rgba(255,255,255,0.1);background:#4791dd\0;}
	#header .menu li a{color:#fff;text-align:center;position:relative;padding:25px 20px 9px 20px;min-width:70px;display:block;}
	#header .menu li a:hover{background:transparent;}
	#header .menu li i{font-size:400%;display:block;}
	#header .menu li span{display:block;margin-top:5px;}

	.userInfo{padding:10px;}
	.userInfo .avatar{width:80px;height:80px;padding:5px;background:rgba(255,255,255,0.2);background:#4791dd\0;}
	.userInfo .infoList{width:200px;margin-left:10px;color:#fff;}
	.userInfo .infoList h4{font-size:120%;line-height:26px;}
	.userInfo .infoList li{width:100%;height:20px;margin-bottom:1px;text-indent:5px;}
	.userInfo .infoList li a{width:100%;height:100%;line-height:20px;background:rgba(255,255,255,0.15);background:#4791dd\0;display:block;color:#fff;}
	.userInfo .infoList li a:hover{background:rgba(255,255,255,0.5);background:#6aa5e2\0;}

/*nav start*/
#nav h3{color:#ddd;background:#232323;text-transform:uppercase;font-size:14px;letter-spacing:2px;line-height:22px;padding:4px 0px 4px 30px;border-bottom:1px solid #222;}
#nav ul{list-style:none;}
#nav ul li a{padding:8px 0px 8px 30px;border-bottom:1px solid #222;color:#999;display:block;font-size:14px;letter-spacing:2px;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;letter-spacing:2px;}
#nav ul li i{margin-right:20px;}
#nav ul li a:hover{background:#2c2c2c;color:#fff;border-bottom-color:#222;}
#nav ul li.active > a{background:#0866c6;color:#fff;border-bottom-color:rgba(0,0,0,0.2);}

#nav ul li.dropdown .f-r{font-size:16px;margin-top:2px;}
#nav ul li.dropdown ul{background:#eee;display:none;}
#nav ul li.active ul{display:block;}
#nav ul li.dropdown ul li a{border-right:1px solid #ddd;border-bottom:1px solid #ddd;color:#666;padding-left:35px;}
#nav ul li.dropdown ul li a:hover,#nav ul li.dropdown .active a{background:#fff;color:#333;}

/*wraper start*/
#wraper{}
	
	/*breadcrumbs start*/
	.breadCrumbs{height:30px;background:#ddd;border-bottom:1px solid #ccc;line-height:30px;color:#666;}
	.breadCrumbs .blue{margin-left:10px;}
	.breadCrumbs i{font-size:16px;vertical-align:text-bottom;margin:0px 3px;}
	.breadCrumbs a{color:#666;margin:0px 3px;}
	.breadCrumbs a:hover{color:#0866c6;}
	
	/*page header start*/
	.pageHeader{background:#fff;padding:20px;border-bottom:1px solid #ddd;min-height:68px;height:68px;color:#999;position:relative;}
	.pageHeader .pageTitle i{font-size:350%;display:inline-block;padding:10px;text-align:center;border:3px solid #0866c6;border-radius:50px;margin-right:15px;width:50px;height:50px;line-height:50px;}
	.pageHeader .pageTitle h1{font-size:250%;fong-weight:300;}
	.pageHeader .pageTitle h5{padding-top:5px;}
	.pageHeader .searchBar{position:absolute;right:20px;top:33%;}
	.pageHeader .searchBar input{width:220px;padding-right:34px;padding:8px 10px;}
	.pageHeader .searchBar i{position:absolute;top:10px;right:4px;width:30px;text-align:center;font-size:16px;}

	#main{padding:0px 20px 20px 20px;}
		
		/*widget box start*/
		.widgetBox{border:2px solid #0866c6;background:#fcfcfc;}
		.widgetBox .widgetTitle{background:#0866c6;color:#fff;}
		.widgetBox .widgetTitle i{vertical-align:middle;margin-right:10px;}
		.widgetBox h3.widgetTitle{padding:5px 15px;line-height:22px;}
		.widgetBox .widgetTitle li{height:100%;border-right:1px solid rgba(255,255,255,0.3);}
		.widgetBox .widgetTitle li a{height:100%;padding:5px 15px;display:inline-block;background:rgba(255,255,255,0.1);color:#fff;}
		.widgetBox .widgetTitle li.cur a{background:#fff;color:#333;}
		.widgetBox .widgetBody .hide{display:none;}
		
		/*form list start*/
		.formList p,.formList .par{margin:15px 0;position:relative;}
		.formList p > label,.formList .par > label{float:left;width:200px;text-align:right;padding:5px 20px 0px 0px;color:#333;font-size:13px;font-weight:500;}
		.formList .field input,.formList .field textarea,.formList .field select{padding:5px;font-size:13px;color:#666;border:1px solid #ccc;}
		.formList .field{margin-left:220px;position:relative;display:block;}
		.formList .formWraper{padding-top:5px;margin-left:220px;display:block;line-height:25px;}
		.formList .desc{color:#999;margin-left:220px;display:block;}
		.formList .formButton {margin-left:220px;padding-top:20px;}
		.formList .formButton .btn{margin-right:10px;}
		.formList span label {margin-right:6px;}
		
		.input-small{width:120px;}
		.input-medium{width:200px;}
		.input-large{width:270px;}
		.input-xlarge{width:360px;}
		.input-xxlarge{width:540px;}
		
		.formTable p:fist-child{border-top:0;}
		.formTable p{border-top:1px solid #ddd;margin:0px;}
		.formTable p label{display:inline-block;padding:15px 0px 0px 15px;text-align:left;}
		.formTable p span{border-left:1px solid #ddd;display:block;padding:15px;margin-left:220px;}
		.formTable p.formButton{padding:10px;padding-left:220px;margin:0px;}
		.formTable .desc{margin-left:0px;}
		
		/*table start*/
		.tableWrap{}
		.tableWrap .tableTitle{padding:12px 15px;line-height:22px;color:#fff;}
		.table th, .table td{padding:8px;text-align:left;border-bottom:1px solid #ddd;color:#666;font-weight:500;}
		.table th{background:#333;color:#fff;}
		.table .col0{background:#fff;}
		.table .col1{background:#eee;}
		
		.table-striped tbody>tr:nth-child(even)>td{background:#fff;}
		
		.table-bordered{border-collapse:separate;}
		.table-bordered th, .table-bordered td{border-left:1px solid #ddd;}
		.table-bordered td:last-child{border-right:1px solid #ddd;}
		.table-bordered th{border-color:#444;}
		
		.table .alignCenter{text-align:center;}
		.table a,.table a i{color:#333;}
		.table a:hover,.table a:hover i{color:#0866c6;}
		
		.tdIcon a{margin:0px 5px;}
		
		/*pagenation start*/
		.page{margin:10px 0px;position:relative;}
		.page ul{display:inline-block;}
		.page >ul>li>a{border:1px solid #ccc;color:#333;background:#fff;padding:4px 10px;border-left-width:0;font-weight:500;font-size:12px;}
		.page ul>li:first-child>a, .page ul>li:first-child>span{border-left-width:1px;}
		.page ul>.disabled>span, .page ul>.disabled>a, .page ul>.disabled>a:hover, .page ul>.disabled>a:focus{background:transparent;color:#999;cursor:default;}
		.page ul>.active>a, .page ul>.active>span{background:#f5f5f5;cursor:default;color:#999;}
		.page ul>li>a:hover, .page ul>li>a:focus, .page ul>.active>a, .page ul>.active>span{background:#f5f5f5;}
		
		.pageBlue ul>li>a:hover, .pageBlue ul>li>a:focus, .pageBlue ul>.active>a, .pageBlue ul>.active>span{background:#0866c6;color:#fff;border-color:#0a6bce;border-right-color:#ccc;}
		.pageBlue ul>.disabled>span, .pageBlue ul>.disabled>a, .pageBlue ul>.disabled>a:hover, .pageBlue ul>.disabled>a:focus{border-color:#ccc;}
		
		.page.mideum {margin:15px 0px;}
		.page.mideum >ul>li>a{padding:5px 12px;font-size:14px;}
		.page.large {margin:20px 0px;}
		.page.large >ul>li>a{padding:8px 16px;font-size:16px;}
		/*footer start*/
		#main .footer{padding-top:15px;border-top:1px solid #ccc;margin-top:40px;color:#666;line-height:30px;}
		#main .footer a,#main .footer a:link{color:#0866c6;}
		#main .footer a:hover{text-decoration:underline;}